scanlib
scanlib.a
scanlib.ini
scanlib.ncb
scanlib.suo
scanlib.txt
scanlib.vcproj*
ipch/
junk/

obj/
src/ScanLibWin32Wrapper.java
src/ScanLibWin32WrapperJNI.java
src/swig.sh
src/swigwin-1.3.40/

Linux-Debug/
ReleaseDLL/
Release/
DebugDLL/
Debug/
Debug-standalone/
Release-Standalone/

TWAIN_2_1_Spec.pdf
