obj
Linux-Debug
Linux-sharedlib
Linux-imageinfo
ReleaseDLL
Debug-DLL
Debug
TWAIN_2_1_Spec.pdf
filtered.bmp
decode.bmp
scanned.bmp
testImages
.settings
UpgradeLog.XML
UpgradeLog.htm
_UpgradeReport_Files/
dmscanlib.opensdf
dmscanlib.sdf
dmscanlib.v11.suo
dmscanlib.vcxproj.filters
dmscanlib.vcxproj.user
